* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Montserrat, sans-serif;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.content {
  position: relative;
  background-color: #e1ff8f;
  padding-bottom: 156px;
}

.star_1 {
  position: absolute;
  top: 94px;
  left: 63px;
}

.star_2 {
  position: absolute;
  top: 69px;
  left: 156px;
}

.star_3 {
  position: absolute;
  bottom: 135px;
  right: 455px;

}

.star_4 {
  position: absolute;
  bottom: 59px;
  right: 344px;

}

.star_5 {
  position: absolute;
  right: 1px;
 }

.star_7 {
  position: absolute;
  top: 84px;
  right: 1px;
  overflow: hidden;
}

.star_8 {
  position: absolute;
  top: 770px;
  left: 25px;
}

.star_9 {
  position: absolute;
  top: 826px;
  left: 40px;
}

.star_10 {
  position: absolute;
  top: 93px;
  right: 123px;
}

.star_11 {
  position: absolute;
  top: 126px;
  right: 44px;
}

.star_12 {
  position: absolute;
  bottom: 65px;
  right: 52px;
}

.star_13 {
  position: absolute;
  bottom: 45px;
  right: 150px;
}

h1 {
  font-weight: 700;
  font-size: 64px;
  color: #202027;
  padding-top: 196px;
  padding-bottom: 24px;
  max-width: 770px;
}

.container__text {
  font-weight: 400;
  font-size: 24px;
  line-height: 133%;
  color: #202027;
  max-width: 746px;
  margin-bottom: 48px;

  & span {
    font-weight: 600;
  }
}

.btn {
  border: 1px solid #202027;
  border-radius: 60px;
  padding: 16px 28px;
  width: 247px;
  height: 66px;
  font-family: inherit;
  font-weight: 600;
  font-size: 24px;
  line-height: 142%;
  text-align: center;
  color: #fff;
  background-color: #202027;
  &:hover {
    background-color: #ffffff;
    color: #202027;
    cursor: pointer;
  }
}

.scroll-bar {
  border: 1px solid rgba(255, 255, 255, 0.2);
  padding-top: 27px;
  padding-bottom: 27px;
  padding-left: 20px;
  height: 90px;
  width: 100%;
  display: flex;
  position: relative;
  z-index: 1;
  gap: 51px;
  overflow: hidden;
  background-color: #BCEC30;
  &__link {
    text-decoration: none;
    font-weight: 700;
    font-size: 30px;
    line-height: 110%;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #202027;
    white-space: nowrap;
  }
}

.main {
  background-color: #202027;
  position: relative;
  h2 {
    font-weight: 700;
    font-size: 64px;
    color: #fff;
    padding-top: 94px;
    padding-bottom: 24px;
  }
}

.container__text-about {
  font-weight: 400;
  font-size: 24px;
  line-height: 133%;
  color: #fff;
  max-width: 709px;
}

.items {
  margin-top: 72px;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  column-gap: 32px;
  z-index: 10;
  position: relative;
  //gap: 32px;

  .item {
    grid-column: span 4;
    border-radius: 30px;
    width: 378px;
    box-shadow: 0 13px 42px -8px rgba(0, 0, 0, 0.13);
    background: #fff;
    &:hover {
      transform: scale(1.07);
      cursor: pointer;
    }
    padding-bottom: 36px;

    .item__img1 {
      width: 378px;
      height: 314px;
      border-radius: 30px;
      background-image: url("../../images/cover1.jpg");
    }
    .item__game {
      background-color: #F7F7F7;
      font-family: inherit;
      border-radius: 53px;
      padding: 8px 16px 10px 16px;
      border: none;
      font-weight: 500;
      font-size: 16px;
      line-height: 110%;
      color: #202027;
      margin-left: 32px;
      margin-top: 32px;
      margin-bottom: 16px;
      //width: 108px;
      //height: 36px;
    }
    .item__title {
      font-weight: 700;
      font-size: 32px;
      color: #202027;
      margin-left: 32px;
      white-space: wrap;
      word-break: normal;
    }
  }
}

.item-one {
  height: 473px;
}

.item-two {
  height: 512px;
}

.item-four {
  height: 551px;
}

.item-five {
  margin-top: 39px;
  height: 512px;
}

.item__img {
  border-radius: 30px;
}

.box {
  background-color: #202027;
  position: relative;
  h2 {
    font-weight: 700;
    font-size: 64px;
    color: #fff;
    padding-top: 96px;
  }
}

.games {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 32px;
  margin-top: 72px;
  padding-bottom: 144px;
  .game {
    grid-column: span 12;
    max-width: 1200px;
    display: flex;
    border-radius: 30px;
    background-color: #FFFFFF;
    .game-box {
      background-color: #FFFFFF;
      //padding: 48px 156px 203px 48px;
      padding-top: 48px;
      padding-left: 48px;
      //padding-bottom: 203px;
      padding-right: 156px;
      border-radius: 30px;
      //max-width: 600px;
      &__title {
        font-weight: 700;
        font-size: 48px;
        color: #202027;
      }
      &__text {
        font-weight: 400;
        font-size: 24px;
        line-height: 133%;
        color: #202027;
        width: 396px;
        margin-top: 24px;
        margin-bottom: 36px;
      }
    }
    &__img {
      max-width: 600px;
      height: 500px;
      border-radius: 46px;
    }
  }
}

.footer__content {
  font-weight: 600;
  font-size: 24px;
  text-align: center;
  color: #000;
  background-color: #BCEC30;
  padding-top: 60px;
  padding-bottom: 60px;
}
